.footer1{
    width: 100%;
    max-width: 100%;
    background-color: #1A1B1C;
    overflow-x: hidden;
}

.footer {
    background-color: #1A1B1C;
    color: #ffffff;
    padding: 80px 50px 20px;
    max-width: 1300px;
    margin: 0 auto;
    overflow-x: hidden;

    &__top {
      display: flex;
      flex-direction: row;
      justify-content: left;
      border-bottom: 1px solid #333;
      padding-bottom: 20px;

      @media (max-width: 1000px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__top2 {
      display: flex;
      flex-direction: column;
      justify-content: left;
      padding-bottom: 20px;
    }

    .title {
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        font-family: "Libre Baskerville", serif;
        font-weight: bold;
        display: flex;
        align-items: center;

        svg {
            font-size: 40px;
            margin-right: 7px;
            margin-top: -5px;
        }
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 100px;
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin-top: 50px;
        margin-right: 120px;

        @media (max-width: 1000px) {
            flex-direction: column;
            width: 68%;
            margin-right: 0;
        }
    }

    &__newsletter {
        p {
          margin-bottom: 10px;
        }

        &-input {
          display: flex;
          input {
            padding: 15px 25px;
            border: 1px solid #707070;
            background-color: #2F3031;
            border-radius: 50px 50px 50px 50px;
            color: #fff;
          }

          button {
            padding: 10px 20px;
            
            margin-left: -40px;
            background-color: #A67B48;
            color: #ffffff;
            border: none;
            border-radius: 50px 50px 50px 50px;
            cursor: pointer;

            &:hover {
              background-color: #c5913f;
            }
          }
        }

        @media (max-width: 1000px) {
            width: 100%;
        }
    }

    .number {
        color: #fff;
        position: relative;
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-bottom: 20px;

        .number-detail {
            display: block;
            padding: 10px;
        }

        .number-detail h6 {
            margin-bottom: -20px;
            font-size: 18px;
        }

        .number-detail p {
            font-size: 15px;
        }

        svg {
            margin-top: 30px;
            font-size: 30px;
        }

       
    }

    .switch-lang {
      width: 110px;
      text-align: left;
      cursor: pointer;
      z-index: 50;
      position: relative;
      right: 20px;
    }
    .switch-lang:hover .lang-dropdown {
      display: block;
    }
    .switcher-link {
      color: #fff;
    }
    .switcher-link:hover {
      color: #fff;
    }
    .current-lang {
      background: #34495e;
      padding: 3px 5px 0px 5px;
      border-radius: 5px;
    }
    .lang-flag {
      width: 20px;
      display: inline-block;
    }
    .lang-text {
      display: inline-block;
      margin-left: 5px;
      vertical-align: top;
      margin-top: 2px;
    }
    .lang-dropdown {
      display: none;
      background: #34495e;
      border-radius: 5px;
      margin-top: 2px;
    }
    .selecting-lang {
      padding: 3px 5px 3px 5px;
      cursor: pointer;
    }
    .selecting-lang:hover {
      background: #22313f;
    }
    ul > :first-child {
      border-radius: 5px 5px 0px 0px;
    }
    ul > :last-child {
      border-radius: 0px 0px 5px 5px;
    }
    li {
      list-style-type: none;
      // border: 1px solid #fff;
      width: 130px;
      padding-bottom: 10px;
    }
    .menu-arrow {
      display: inline-block;
      width: 10px;
      margin-left: 10px;
      vertical-align: top;
      margin-top: 6px;
    }

    .footer__social {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;
        svg {
            padding-top: 10px;
            padding-left: 19px;
            font-size: 30px;
            transition: all 0.2ms ease;
            cursor: pointer;

            &:hover {
                color: #c5913f;
            }
        }

        @media (max-width: 1000px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    

    &__links {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      padding: 20px 0px;

      &-section {
        margin-left: 14%;
        h4 {
          margin-bottom: 10px;
          color: #b3b3b3;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 8px;

            a {
              color: #ffffff;
              text-decoration: none;

              &:hover {
                color: #d4a24c;
              }
            }
          }
        }

        @media (max-width: 1000px) {
            margin-left: 0;
            width: 100%;
        }
      }

      @media (max-width: 1000px) {
          flex-direction: column;
          align-items: flex-start;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #333;
      padding-top: 20px;

      &-links {
        margin-left: auto;
        a {
          color: #ffffff;
          text-decoration: none;
          margin: 10px;

          &:hover {
            color: #d4a24c;
          }

          span {
            margin: 0 5px;
          }
        }

        @media (max-width: 1000px) {
            margin-bottom: 10px;
        }
      }

      &__language {
        display: flex;
        align-items: center;

        i {
          margin-right: 5px;
        }

        @media (max-width: 1000px) {
            justify-content: flex-start;
            width: 100%;
        }
      }

      @media (max-width: 1000px) {
          flex-direction: column;
          align-items: flex-start;
      }
    }
}
