.practice-areas {
    padding: 50px 0;
    text-align: center;
    font-family: "Roboto", sans-serif;

    .container {
        max-width: 1300px;
        margin: 20px auto;
        padding: 50px 50px;
    }

    .container2 {
        display: flex;
        justify-content: space-between; /* Aligns items on opposite sides */
        align-items: center; /* Vertically center the heading and button */
        max-width: 1300px;
        margin: 0 auto;
    }

    h2 {
        font-size: 80px;
        font-weight: 400;
        text-align: left;
        font-family: "Roboto", sans-serif;
        margin-bottom: 20px;
        &:after {
            content: '';
            display: block;
            width: 130px;
            height: 2px;
            background-color: var(--body-color);
            margin: 15px 0;
          }
    }

    .practice-area-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 40px;
        margin-top: 40px;
    }

    .practice-area {
        text-align: left;

        .icon {
            font-size: 60px;
            color: #a87f4d;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            width: 80%;
            font-weight: 400;
            color: var(--p-color);
            line-height: 1.6;
        }
    }

    .view-all-areas {
        display: inline-block;
        width: 160px;
        color: var(--body-color);
        text-decoration: none;
        align-items: center;
        cursor: pointer;
        justify-content: center;
    }
}
