@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.services-section {
    margin-top: 10%;
    padding-top: 5%;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: var(--body_background);
  
    .services-title {
      font-size: 4rem;;
      font-weight: 400;
      &:after {
        content: '';
        display: block;
        width: 130px;
        height: 2px;
        background-color: var(--body-color);
        margin: 15px 0;
      }
    }
  
    .services-content {
      display: flex;
      justify-content:space-between;
      background-color: var(--body_background);
      display: flex;
      border-radius: 10px;
      max-width: 1300px;
      width: 95%;
      max-width: 1250px;

      
    
      .text-content {
        display: flex;
        gap: 50px;
        height: auto;
        flex-direction: column;

        
  
        .service {
          max-width: 300px;
  
          h3 {
            font-size: 1.75rem;
            font-weight: 400;
            margin-bottom: 10px;
          }
  
          p {
            font-size: 1rem;
            line-height: 1.6;
            color: var(--p-color);
          }
        }
      }
  
      .service-image {
        flex-shrink: 0;
        
        img {
          width: 100%;
          max-width: 300px;
          height: auto;
          border-radius: 20px;
        }
      }
    }
  
    @media (max-width: 1000px) {
      .services-content {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 100px;
        width: 99%;
        
        .text-content{
          margin-left: 0;
          text-align: center;
        }

        .services-title{
            margin-left: 20px;
            font-size: 40px;
        }
  
        .service-image {
          margin-top: 30px;
        }
      }
    }
  }
  