.testimonial-section2 {
  text-align: center;
  h2 {
    font-size: 3rem;
    margin-bottom: -20px;
    color: var(--body-color);
    font-weight: 600;
  }

   @media (max-width: 1000px){
    h2 {
      font-size: 40px;

  }
   }
}

.testimonial-section {
    text-align: center;
    padding: 100px 20px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: url('../img/Subtraction2.png');
    background-size: cover;
    background-position: center;
  

  
    .testimonial-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      max-width: 1300px;
      gap: 20px;
    }
  
    .testimonial-card {
      position: relative;
      width: 480px;
      padding: 1.5rem;
      margin: 2rem;
      background-color: transparent;
      border-radius: 50px;
      text-align: left;
  
      .quote{
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        color: #a07509;
        font-size: max(30px, 3vw);
    }
  
      .client-image {
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
      }
  
      .feedback {
        font-size: 1rem;
        margin-bottom: 20px;
        color: var(--body-color);
        &:after {
          content: '';
          display: block;
          width: 130px;
          height: 1.5px;
          background-color: #696969;
          margin: 20px 0;
        }
      }
  
      .client-name {
        font-weight: 600;
        font-size: 1.1rem;
        color: var(--body-color);
      }
  
      .client-title {
        font-size: 0.9rem;
        color: gray;
      }
    }


  }

  @media (max-width: 1253px) {
    .testimonial-section{
      background-image: none;
    }
    .testimonial-container{
      width: 100%;
      .testimonial-card {
        position: relative;
        width: 480px;
        padding: 1rem;
        margin: 1rem;
        background-color: var(--testimonial);
        border-radius: 50px;
        text-align: left;
      }
    }
  }

    @media (min-width: 1330px) {
      .testimonial-section {
        text-align: center;
        padding: 250px 0px;
        background-color: transparent;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background-image: url('../img/Subtraction2.png');
        background-size: cover;
        background-position: center;        
   }

}
  
// Styles for dark theme
[data-theme="dark"] {
  .testimonial-section {
    background-image: url('../img/Subtraction1.png');

    @media (max-width: 1253px) {
      background-image: none;

      .testimonial-container {
        width: 100%;

        .testimonial-card {
          position: relative;
          width: 480px;
          padding: 1.5rem;
          margin: 1rem;
          height: 20%;
          background-color: var(--testimonial);
          border-radius: 50px;
          text-align: left;
        }
      }
    }
  }
}
