.dark_mode {
    margin-top: -20px;
    margin-left: 23%;
    margin-right: 20px;
    /* border: 2px solid #fff; */
}

.dark_mode_label {
    width: 2.9rem;
    height: 25px;
    position: relative;
    border: 1px solid #707070;
    display: block;
    background: #242424;
    border-radius: 200px;
    
    cursor: pointer;
    transition: 0.3s;
}
.dark_mode_label:after {
    content: "";
    width: 22px;
    height: 23px;
    position: absolute;
    border: 1px solid #707070;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background: linear-gradient(180deg, #777, #3a3a3a);
    transition: 0.3s;
}
.dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
    background: #242424;
    
}
.dark_mode_input:checked + .dark_mode_label:after {
    left: 46px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}
.dark_mode_label:active:after {
    width: 30px;
    
}

.dark_mode_label svg {
    position: absolute;
    width: 15px;
    top: 5px;
    z-index: 100;
}
.dark_mode_label svg.sun {
    left: 5px;
    fill: #fff;
    transition: 0.3s;
}
.dark_mode_label svg.moon {
    left: 28px;
    fill: #7e7e7e;
    transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
    fill: #7e7e7e;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
    fill: #fff;
}

@media(max-width: 1000px) {
    .dark_mode {
        margin-bottom: 10px;
        margin-left: 20px;
    }
}