@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.nav {
    background-color: var(--body_background);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 70px;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1vw 1% 1%;
    color: var(--body-color);


    .nav-logo{
        display: flex;
        align-items: center;
        margin-left: max(15px, 1.25vw);
        .logo-container{
            content: url('./img/logo1.svg');
            height: max(40px, 1.8vw);
        }
    }


    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0.4;
    }

    .nav-link {
        padding: 10px 10px;
        position: relative;
        margin:0 max(2.5px, 0.7vw);
        transition: all 0.5s ease-in-out;

        .inner-link{
            position: relative;
            margin:20px max(2.5px, 0.7vw);
        }

        .inner-link svg {
            transition: 0.25s;
        }

        &:hover {
            .nav-megamenu {
                display: flex;
                
            }
           
            .nav-megamenu.resources{
                display: flex;
            }

            .arrow1{
                display: flex;
            }

            .inner-link .arrow2 {
                transform: rotate(-180deg);
            }
        }
    }


    .mobile-megamenu{
        display: none;
    }

    .mobile-nav{
        display: none;
    }

    .inner-link {
        font-size: 17px;
        color: var(--body-color);
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .inner-link:hover {
        color: #a87f4d;
    }

    .arrow1{
        position: absolute;
        font-size: 20px;
        color: #a87f4d;
        fill: #a87f4d;
        top: 40px;
        right: 55px;
        z-index: 1111;
        display: none;
    }

    .arrow3{
        display: none;
    }

    .auth {
        font-size: 20px;
        color: #fff;
        padding: 20px 0px;
        border-radius: 20px;
        text-decoration: none;
        margin-right: 30px;
        margin-left: auto;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .number {
        color: var(--body-color);
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        white-space: nowrap;

        .number-detail {
            display: block;
            padding: 10px;
        }

        .number-detail h6 {
            margin-bottom: -20px;
            font-size: 18px;
        }

        .number-detail p {
            font-size: 15px;
        }

        svg {
            margin-top: 30px;
            font-size: 30px;
        }
    }

    .contact {
        background-color: var(--button-background);
        border-radius: 70px;
        margin-left: 20px;
        font-size: 16px;
        color: #fff;
        padding: 10px 30px;
        margin-right: max(26px, 1.25vw);
        text-decoration: none;
        white-space: nowrap;
    }

    .nav-megamenu {
        width: 100%;
        background-color: var(--megamenu-background);
        height: 50%;
        position: fixed;
        left: 0;
        top: 90px;
        padding: 20px;
        display: flex;
        flex-wrap: nowrap;
        ;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;


        .menu-content3 {
            display: flex;
            justify-content: center; /* Centers the content horizontally */
            align-items: flex-start; /* Aligns the content at the top */
            flex-direction: column; /* Stacks the elements vertically */
            width: 100%;
            height: auto;
            padding: 20px 0;
        
            .menu-h6 {
                font-size: 25px; /* Larger font size for the title */
                font-weight: 300; /* Ensures strong visual presence */
                text-align: center; /* Centers the text */
                margin-left: 50px;
                margin-bottom: 0;
                margin-top: 0;
                padding: 0;
                color: var(--body-color);
            }
        }
        
        
        .menu-content2 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 10px;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 96%;
            height: 100%;
            margin: 30px;
            background-color: var(--megamenu-background);
        }
        
        .menu-content2 .menu-link {
            display: flex;
            width: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #f0f0f0;
            transition: all 0.3s ease;
        }
        
        .menu-content2 .menu-link:hover {
            color: #fff;
            transform: scale(1.05);
        }
        

        

        

        .menu-link {
            width: 100%;
            margin: 10px;
            height: 90%;
            text-align: left;
            float: left;
            justify-content: left;
            margin-bottom: 0px;
            border-radius: 10px;
            transition: all 0.3s ease;

            &:hover {
                background: transparent;
                border: 2px solid #a87f4d;
                .arroww{
                    display: flex;
                }
            }

            .arroww{
                position: absolute;
                font-size: 30px;
                color: #a87f4d;
                fill: #a87f4d;
                top: 20px;
                right: 9px;
                display: none;
            }

            a {
                text-decoration: none;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                text-align: left;
                padding: 10px;
                box-sizing: border-box;
                

                .icon {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 50px;
                    color: #a87f4d;
                    margin-right: auto;
                    margin-bottom: 0;
                }

                h6 {
                    font-size: 16px;
                    padding-top: 10px;
                    margin-top: auto;
                    font-weight: 400;
                    color: #000;
                }
            }
        }

        .menu-details {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 30%;
            height: auto;
            background-color: var(--megamenu-details);
            .personal, .business {
                padding-left: 20px;

                h6 {
                    font-size: 20px;
                    font-weight: 400;
                    color: var(--body-color);
                    &:before{
                        content: '';
                        display: block;
                        width: 40px;
                        height: 1px;
                        background-color: var(--body-color);
                        margin: 3px 0;
                    }
                }

                p {
                    font-size: 16px;
                    width: 100%;
                    max-width: 80%;
                    color: var(--body-color);
                }
            }
            
        }

        

        .menu-link a {
            h6 {
                font-size: 16px;
                color: var(--body-color);
                text-decoration: none;
            }
        }

        

        
    }

    

    .nav__sticky {
        background-color: #000 !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    }

    @media (min-width: 1001px) and (max-width: 1445px) {
        .nav {
            height: 70px; /* Set a consistent height */
        }

        .mobile-megamenu{
            display: none;
        }
    
        .links {
            justify-content: space-around; /* Ensure links are spread evenly */
            margin: 0; /* Remove any unnecessary margin */
            
            .nav-link {
                padding: 5px 5px; /* Adjust padding to maintain spacing */
            }
            
            .inner-link {
                font-size: 16px; /* Adapt font size */
            }
        }
    
        .nav-megamenu {
            height: auto;
            padding: 15px 10px; /* Reduce padding for smaller height */
            
            .menu-content2 {
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ensure columns fit well */
                margin: 20px;
            }
    
            .menu-link {
                width: 100%;
            }
        }
    
        .auth {
            font-size: 16px; /* Ensure text size is appropriate */
            .contact {
                padding: 10px 20px;
                font-size: 14px;
            }
        }
    
        .arrow1 {
            font-size: 18px;
            top: 25px;
        }
    }
    

    .nav-megamenu.resources {
        width: 99%;
        background-color: var(--megamenu-background);
        height: 42%;
        position: fixed;
        left: 0;
        top: 90px;
        padding: 20px;
        display: flex;
        flex-wrap: nowrap;
        
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        h6{
            display: block;
            
        }
        
        .menu-content3 {
            width: 100%;
            height: 90%;
        
            .menu-h6 {
                font-size: 25px; /* Larger font size for the title */
                font-weight: 300; /* Ensures strong visual presence */
                text-align: center; /* Centers the text */
                margin-left: 30px;
                margin-bottom: 0;
                padding-top: 0px;
                color: var(--body-color);
            }
            .menu-content {
                display: flex;
                justify-content: center;
                flex-grow: 0.4;
                flex-wrap: wrap;
                gap: 20px;
                height: auto;
                width: 100%;
            }
        }

        .rec.rec-arrow {
            border-radius: 50%;
            color: #a87f4d;
            background: transparent;
            border: none;
        }
        /* round buttons on hover */
        .rec.rec-arrow:hover {
            border-radius: 50%;
            background-color: transparent;
            border: none;
        }
        .rec-dot{
            box-shadow: none !important;
            background: #bbb !important;
            &:hover, &:active, &:focus{
                background: #a87f4d !important;
            }
        }
        .rec-dot_active{
            background: #a87f4d !important;
        }
        /* hide disabled buttons */
        .rec.rec-arrow:disabled {
            visibility: hidden;
        }
        /* disable default outline on focused items */
        /* add custom outline on focused items */
        .rec-carousel-item:focus {
            outline: none;
            box-shadow: inset 0 0 1px 1px lightgrey;
            
        }
       
    
        .menu-link {
            width: 20%;
            margin: 20px;
            height: 40%;
            align-items: center;
            justify-content: center;
            margin-bottom: 0px;
            border-radius: 10px;
            transition: all 0.3s ease;

            &:hover {
                color: #fff;
                transform: scale(1.05);
            }

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: left;
                transition: color 0.3s ease;
                padding: 10px;
                width: 100%;
                box-sizing: border-box;

                .icon {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 50px;
                    color: #a87f4d;
                    margin-right: auto;
                    margin-bottom: 0;
                }

                h6 {
                    font-size: 16px;
                    margin-right: auto;
                    padding-top: 10px;
                    margin-top: auto;
                    font-weight: 400;
                    color: var(--body-color);
                }
            }
        }
    
        .menu-details {
            background-color: transparent;
            position: relative;
            height: 100%;
            width: 100%;
            max-width: 50%;
            justify-content: center;
            overflow: hidden;
            .image-slider {
    
                .slide {
                    position: relative;
                    margin-right: 15px;
                    text-align: center;
                    color: white;
                    border: none;
    
                img {
                  max-width: 100%;
                  border-radius: 10px;
                  border: none;
                  display: block;
                  filter: brightness(0.7);
                }
    
                .overlay-text {
                    position: absolute;
                    text-align: left;
                    bottom: 30px;
                    left: 38%;
                    transform: translateX(-50%);
                    background-color: transparent;
                    padding: 0px 0px;
                    border-radius: 5px;
                    font-size: 20px;
                }
          
              }
            }
        }

       
        
        

    }

    .hamburger {
        display: none;
        font-size: 30px;
        cursor: pointer;
    }





    @media (max-width: 1445px){
        .nav-megamenu, .nav-megamenu.resources{
            top: 80px;
        }
        .arrow1{
            top: 30px;
            right: 42px;
        }

        .nav-megamenu .menu-details{
            padding-top: 70px;
            
        
    }
        .nav-megamenu.resources .menu-details{
            padding-top: 0px;
            
        
    }
    }

   
    @media(max-width:1020px){
        .nav{
            padding:0;
            display: none; 
        }
        .links, .nav-link, .inner-link, .auth , .nav-megamenu, .nav-megamenu.resources, .nav-logo{
            display: none;
        }

        
        .mobile-nav{
            display: block;
        }
    }
    
        }


        [data-theme="dark"] .nav-logo .logo-container {
            content: url('./img/logo2.svg');
        }
        
        .nav__sticky{
            background: var(--body_background);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
    
    
        }