.nav {
    background-color: #FEFEFE;
    padding: 15px 7%;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .title {
        color: #000000;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        display: flex;
        align-items: center;
        svg {
            font-size: 40px;
            margin-right: 7px;
            margin-top: 0px;
        }
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: center;
        flex-grow: 0.4;
    }

    .nav-link {
        margin: 0 15px;
        padding: 7.5px 10px;
        position: relative;
        transition: all 0.5s ease-in-out;

        .inner-link svg {
            transition: 0.25s;
        }

        &:hover {
            .nav-megamenu {
                display: flex;
            }

            .inner-link svg {
                transform: rotate(-180deg);
            }
        }
    }

    .inner-link {
        font-size: 18px;
        color: #000;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .inner-link:hover {
        color: #8100fa;
    }

    .auth {
        font-size: 20px;
        color: #fff;
        padding: 20px 0px;
        border-radius: 20px;
        text-decoration: none;
        border: 2px solid #000;
        margin-left: auto;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .number {
        color: #000;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        white-space: nowrap;

        .number-detail {
            display: block;
            padding: 10px;
        }

        .number-detail h6 {
            margin-bottom: -20px;
            font-size: 18px;
        }

        .number-detail p {
            font-size: 15px;
        }

        svg {
            margin-top: 30px;
            font-size: 30px;
        }
    }

    .contact {
        background: #000000;
        border-radius: 70px;
        margin-left: 20px;
        font-size: 16px;
        color: #fff;
        padding: 10px 30px;
        text-decoration: none;
        white-space: nowrap;
    }

    .nav-megamenu {
        width: 100%;
        background: #fff;
        height: 45%;
        position: fixed;
        left: 0;
        top: 70px;
        padding: 20px;
        display: flex;
        flex-wrap: nowrap;
        display: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;

        .menu-content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        .menu-link {
            width: 20%;
            margin: 20px;
            align-items: center;
            margin-bottom: 20px;
            transition: all 0.3s ease;

            &:hover {
                border: 3px solid #a87f4d;
                border-radius: 10px;
            }

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: left;
                transition: color 0.3s ease;
                padding: 10px;
                width: 100%;
                box-sizing: border-box;

                .icon {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 50px;
                    color: #a87f4d;
                    margin-right: auto;
                    margin-bottom: 0;
                }

                h6 {
                    font-size: 16px;
                    margin-right: auto;
                    padding-top: 10px;
                    margin-top: auto;
                    font-weight: 400;
                    color: #000;
                }
            }
        }

        .menu-details {
            display: flex;
            flex-direction: column;
            width: 38%;
            height: 30%;
            background-color: #fbf6f1;

            .personal, .business {
                width: 100%;
                background: #fbf6f1;
                padding: 19px;

                h6 {
                    margin-bottom: 10px;
                    font-size: 20px;
                    width: 10%;
                    border-top: 2px solid #000;
                    color: #525252;
                }

                p {
                    font-size: 16px;
                    width: 70%;
                    margin-bottom: 50px;
                    color: #888;
                }
            }
        }

        .menu-link a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }

        h6 {
            font-size: 16px;
            color: #d89b18;
            margin-bottom: -10px;
            text-decoration: none;
        }

        p {
            font-size: 18px;
            color: #d89b18;
            margin-bottom: 50px;
            text-decoration: none;
        }
    }

    .hamburger {
        display: none;
        font-size: 30px;
        cursor: pointer;
    }

    @media (min-width: 1300px){
         
    }

    @media (max-width: 768px) {
        .links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            background-color: #fefefe;
            padding: 20px 0;
            text-align: center;

            &.open {
                display: block;
            }

            .nav-link {
                margin: 10px 0;
                text-align: center;
            }

            .auth {
                margin-top: 10px;
                text-align: center;
            }
        }

        .auth {
            display: block;

            .number {
                align-items: center;
                justify-content: center;
            }
        }

        @media (max-width: 1270px) {
            .links {
                justify-content: space-between; /* Space out links evenly */
                margin: 0; /* Remove extra margins */
            }
    
            .auth {
                font-size: 16px; /* Reduce font size */
                .contact {
                    padding: 10px 20px; /* Adjust padding */
                    font-size: 14px; /* Reduce font size */
                }
            }
        }

        .hamburger {
            display: block;
        }

        .nav-megamenu {
            flex-direction: column;
            height: auto;
            max-height: 70vh;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0px;
            top: 230px;

            .menu-content {
                flex-direction: column;
            }

            .menu-link {
                width: 100%;
                margin: 0;
                padding: 10px;
                align-items: flex-start;
                border: none;

                &:hover {
                    border: none;
                }

                a {
                    flex-direction: row;
                    justify-content: flex-start;

                    .icon {
                        margin-right: 10px;
                        margin-bottom: 0;
                    }

                    h6 {
                        font-size: 14px;
                        margin-right: 0;
                        padding-top: 0;
                        margin-top: 0;
                    }
                }
            }

            .menu-details {
                width: 100%;
            }

            .personal, .business {
                align-items: center;
                text-align: left;
                justify-content: center;
                padding: 0;
                float: left;
            }
        }
    }
}
