@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.nav {
    background-color: #FEFEFE;
    padding: 15px 5%;
    display: flex;
    font-family: "Roboto", sans-serif;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .title {
        color: #000000;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        display: flex;
        align-items: center;

        svg {
            font-size: 40px;
            margin-right: 7px;
            margin-top: 0px;
        }
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0.4;
    }

    .nav-link {
        margin: 0 15px;
        padding: 7.5px 10px;
        position: relative;
        transition: all 0.5s ease-in-out;

        .inner-link svg {
            transition: 0.25s;
        }

        &:hover {
            .nav-megamenu {
                display: flex;
                
            }
            .nav-megamenu.resources{
                display: flex;
            }

            .arrow1{
                display: flex;
            }

            .inner-link .arrow2 {
                transform: rotate(-180deg);
            }
        }
    }

    .inner-link {
        font-size: 17px;
        color: #000;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .inner-link:hover {
        color: #a87f4d;
    }

    .arrow1{
        position: absolute;
        font-size: 20px;
        color: #a87f4d;
        fill: #a87f4d;
        top: 27px;
        right: 9px;
        display: none;
    }

    .auth {
        font-size: 20px;
        color: #fff;
        padding: 20px 0px;
        border-radius: 20px;
        text-decoration: none;
        margin-left: auto;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .number {
        color: #000;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        white-space: nowrap;

        .number-detail {
            display: block;
            padding: 10px;
        }

        .number-detail h6 {
            margin-bottom: -20px;
            font-size: 18px;
        }

        .number-detail p {
            font-size: 15px;
        }

        svg {
            margin-top: 30px;
            font-size: 30px;
        }
    }

    .contact {
        background: #000000;
        border-radius: 70px;
        margin-left: 20px;
        font-size: 16px;
        color: #fff;
        padding: 10px 30px;
        text-decoration: none;
        white-space: nowrap;
    }

    .nav-megamenu {
        width: 100%;
        background: #fff;
        height: 45%;
        position: fixed;
        left: 0;
        top: 76px;
        padding: 20px;
        display: flex;
        flex-wrap: nowrap;
        display: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;

        .menu-content {
            width: auto;
            display: flex;
            flex-wrap: wrap;
            height: auto;
        }

        .genti1{
            border: 1px solid #a87f4d;
            
        }

        

        .menu-link {
            width: 20%;
            margin: 20px;
            height: auto;
            align-items: center;
            margin-bottom: 20px;
            border-radius: 10px;
            transition: all 0.3s ease;

            &:hover {
                border: 1px solid #a87f4d;
                
            }

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: left;
                transition: color 0.3s ease;
                padding: 10px;
                width: 100%;
                box-sizing: border-box;

                .icon {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 50px;
                    color: #a87f4d;
                    margin-right: auto;
                    margin-bottom: 0;
                }

                h6 {
                    font-size: 16px;
                    margin-right: auto;
                    padding-top: 10px;
                    margin-top: auto;
                    font-weight: 400;
                    color: #000;
                }
            }
        }

        .menu-details {
            display: flex;
            flex-direction: column;
            width: auto;
            height: auto;
            margin: -20px;
            background-color: #fbf6f1;

            .personal, .business {
                width: 100%;
                background: #fbf6f1;
                padding: 19px;

                h6 {
                    font-size: 20px;
                    font-weight: 400;
                    width: 10%;
                    color: #525252;
                    &:before{
                        content: '';
                        display: block;
                        width: 40px;
                        height: 1px;
                        background-color: black;
                        margin: 3px 0;
                    }
                }

                p {
                    font-size: 16px;
                    width: 70%;
                    color: #888;
                }
            }
        }

        .menu-link a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }

        h6 {
            font-size: 16px;
            color: #d89b18;
            margin-bottom: -10px;
            text-decoration: none;
        }

        p {
            font-size: 18px;
            color: #d89b18;
            margin-bottom: 50px;
            text-decoration: none;
        }
    }

    .nav-megamenu.resources {
        width: 100%;
        background: #fff;
        height: 30%;
        position: fixed;
        left: 0;
        top: 70px;
        padding: 20px;
        display: flex;
        flex-wrap: nowrap;
        display: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        h6{
            display: block;
            
        }
    
        .menu-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 0.4;
            
        }
    
        .menu-link {
            margin: 0 15px;
            padding: 7.5px 10px;
            position: relative;
            transition: all 0.5s ease-in-out;
        
    
            &:hover {
                border: 1px solid #a87f4d;
                border-radius: 10px;
            }
    
            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: left;
                transition: color 0.3s ease;
                padding: 10px;
                width: 100%;
                box-sizing: border-box;
    
                .icon {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 50px;
                    color: #a87f4d;
                    margin-right: auto;
                    margin-bottom: 0;
                }
    
                h6 {
                    font-size: 16px;
                    margin-right: auto;
                    padding-top: 10px;
                    margin-top: auto;
                    font-weight: 400;
                    color: #000;
                }
            }
        }
    
        .menu-details {
            background-color: transparent;
            top: 20px;
            position: relative;
            width: 100%;
            max-width: 50%;
            height: 340px;
            overflow: hidden;
        }
        
        .image-slider {

            justify-content: space-between;
      
            img {
              max-width: 100%; // Adjust the width to make them closer
              border-radius: 10px; // Optional: to match the rounded corners in the example
            }
      
          }
        
          @media (max-width: 1200px) {
            .menu-link {
                margin: 0 10px;
            }
    
            .image-slider img {
                max-width: 80%;
            }
        }
    
        @media (max-width: 992px) {
            flex-direction: column;
            height: auto;
            top: 60px;
    
            .menu-content {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 20px;
            }
    
            .menu-details {
                max-width: 80%;
                height: auto;
            }
    
            .image-slider {
                display: flex;
                justify-content: center;
    
                img {
                    max-width: 60%;
                }
            }
        }
    
        @media (max-width: 768px) {
            padding: 15px;
    
            .menu-content {
                margin-bottom: 15px;
            }
    
            .menu-link {
                margin: 0 8px;
    
                a .icon {
                    font-size: 40px;
                }
    
                a h6 {
                    font-size: 14px;
                }
            }
    
            .image-slider img {
                max-width: 80%;
            }
        }
    
        @media (max-width: 576px) {
            padding: 10px;
    
            .menu-link {
                margin: 0 5px;
    
                a .icon {
                    font-size: 35px;
                }
    
                a h6 {
                    font-size: 12px;
                }
            }
    
            .image-slider img {
                max-width: 100%;
            }
        }
    
}

    .hamburger {
        display: none;
        font-size: 30px;
        cursor: pointer;
    }

    @media (min-width: 1300px){
         
    }

    @media (max-width: 1270px) {
        .nav-megamenu{
            height: 50%;
        }
        .menu-content{
            width: auto;
            height: auto;
        }
        .menu-details{

            margin: -50px;
        }

        .links {
            justify-content: space-between; /* Space out links evenly */
            margin: 0; /* Remove extra margins */
            .nav-link{
                padding: 7.5% 0px;
            }
            .inner-link{
                font-size: 16px;
            }
            .menu-link{
                width: 27%;

            }
        }

        .auth {
            font-size: 16px; /* Reduce font size */
            .contact {
                padding: 10px 20px; /* Adjust padding */
                font-size: 14px; /* Reduce font size */
            }
        }
    }

    @media (max-width: 1000px) {
            .links {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 70px;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #FEFEFE;
                padding: 0px 0;
                text-align: center;
                z-index: 1;
    
                &.open {
                    display: block;
                }
    
                .nav-link {
                    margin: 10px 15px;
                    padding: 10px 10px;
                    border-bottom: 1px solid #8f8f8f;
                    width: 90%;
                    text-align: center;
                }
    
                .auth {
                    margin-top: 10px;
                    text-align: center;
                }
            }

    
            .auth {
                display: block;
    
                .number {
                    align-items: center;
                    justify-content: center;
                }
            }
    
            .hamburger {
                display: block;
            }
    
            .nav-megamenu {
                flex-direction: column;
                height: auto;
                max-height: 70vh;
                width: 100%;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 0px;
                top: 217px;
    
                .menu-content {
                    flex-direction: column;
                }
    
                .menu-link {
                    width: 100%;
                    margin: 0;
                    padding: 10px;
                    align-items: flex-start;
                    border-bottom: 1px solid #a87f4d;
    
                    &:hover {
                        border-bottom: 1px solid #a87f4d;
                    }
    
                    a {
                        flex-direction: row;
                        justify-content: flex-start;
    
                        .icon {
                            margin-right: 10px;
                            margin-bottom: 0;
                        }
    
                        h6 {
                            font-size: 14px;
                            margin-right: 0;
                            padding-top: 0;
                            margin-top: 0;
                        }
                    }
                }
    
                .menu-details {
                    width: 100%;
                    display: none;
                }
    
                .personal, .business {
                    display: none;
                }
            }
        }
}

